[user]
id = <your username>
password = <password>

[resource]
name = 权力的游戏,绿箭侠
sub_lang = 英文,简体&英文
output_dir = D:\temp\output\

[email]
subscriber = balala@163.com,tata@gmail.com
host = smtp.163.com
user = <your email id>
postfix = 163.com
password = <your email password>

[history]
since = 2016-06-12 15:13

